<div class="container-fluid">
  <div id="search-form" class="row mt-3 justify-content-start">

    <div class="col-12 col-md-6 col-xl-8 mb-3">
        <a class="btn btn-primary btn-block gradient-custom-4" href="/producer/add-producer">
          <i class="fas fa-plus-circle"></i>
          Thêm thương hiệu
        </a>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <div class="p-1 bg-light rounded rounded-pill shadow-lg d-flex justify-content-end">
        <div class="input-group">
          <input id="myInput" type="search" onkeyup="mySearchFunction()" placeholder="Nhập tên thương hiệu bạn cần tìm?" aria-describedby="btn-search" class="form-control border-0 bg-light">
          <div class="input-group-append">
            <button id="btn-search" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="table-responsive">
    <table id="myTable" class="table table-bordered">
      <thead>
        <tr>
          <th>Tên thương hiệu</th>
          <th>Mô tả</th>
          <th>Điều chỉnh</th>
        </tr>
      </thead>

      <tbody>
        {{#each producers}}
          <tr>
            <td><h6>{{this.name}}</h6></td>
           <td>{{this.description}}</td>
            <td>
              <div class="row">
                <div class="col-1">
                  <a href="/producer/edit-producer/{{_id}}">
                    <i class="far fa-edit" style="font-size: 15px;"
                    title="Chỉnh sửa thương hiệu"></i>
                  </a>

                </div>

                <div class="col-1">
                  <a
                  href="/producer/delete-producer/{{_id}}"
                  onclick="return confirm('Bạn có muốn xóa thương hiệu không')"
                >
                  <i class="fas fa-trash" style="color: red; font-size: 15px" 
                  title="Xóa thương hiệu" >
                </i>
                </a>              
                </div>
              </div>          
                
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<input type="hidden" value={{length}} id="length">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    const length = $('#length').val();
    for(let i = 0; i < length; i++){
      $(".list-producer"+i).append($(".product"+i));
    }
  });  
</script>

<div class="center mb-2 mt-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item {{#unless this.isPreviousPage}} disabled {{/unless}}">
                <a class="page-link " href="/producer?page={{this.previousPage}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Lùi</span>
                </a>
            </li>
            {{#each pages}}
                <li class="page-item {{#if this.isCurrentPage}} active {{/if}}">
                    <a class="page-link" href="/producer?page={{this.page}}">{{this.page}}</a>
                </li>
            {{/each}}

            <li class="page-item {{#unless this.isNextPage}} disabled {{/unless}}">
                <a class="page-link" href="/producer?page={{this.nextPage}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Tiến</span>
                </a>
            </li>
        </ul>
    </nav>
</div>